.bluePrint{
    background-color:skyblue;
    padding-top:20px;
}

.form-center {
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: inherit;
    align-items:center



}

.center{
text-align: center;
font-family: fantasy;    

}