.quoteHi{
    padding: 10px;
    border: 1px solid #ccc;
}

.arrangement {

    margin-top:20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.quoteAuthor{
    position: relative;
    left:50%;
    padding: 10px;
}

button {
    margin:6px;
    border-radius: 12px;
}