<!-- now, to present these quotes that I made to the user -->

<div class="container-fluid">

<ul  appHighlightHighestVote
 *ngFor='let quote of quotes; let i = index'>
    <li>
        {{quote.aQuote}}
    </li>
    <li>
        {{quote.author}}
    </li>
    <button (click)='toggleDetails(i)' class="btn btn-primary" >Toggle Details</button>
    <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (yesDelete)='deleteGoal($event, i)' ></app-quote-details>
</ul>

</div>
<div class="container-fluid">
    <app-new-quote-form (addQuote)='addNewQuote($event)' ></app-new-quote-form>
</div>
