<!-- now, to present these quotes that I made to the user -->
<div class="arrangement" >
<div class="container-fluid">
    <div  class="col-md-9" *ngFor='let quote of quotes; let i = index'>
    <div appHighlightHighestVote *ngIf='highestUpVote()=== quote.upVote' >

        <!-- <div appHighlightHighestVote *ngIf='highestUpVote()===quote.upVote' > -->
       <div class="quoteHi" >{{quote.aQuote}}</div>
       <div class="quoteAuthor">
         ~{{quote.author}}
       </div>
    <button (click)='toggleDetails(i)' class="btn btn-primary" >Toggle Details</button>
    <app-quote-details  *ngIf='quote.showDetails' [quote]='quote' (upVote)='upTheVote($event, i)' (downVote)='downTheVote($event, i)' (yesDelete)='deleteGoal($event, i)' ></app-quote-details>
    </div>
</div> 
</div> 
<div class="container-fluid">
<div class="col-md-9" *ngFor='let quote of quotes; let i = index'>
    <div *ngIf='highestUpVote()!=quote.upVote' >

        <!-- <div appHighlightHighestVote *ngIf='highestUpVote()===quote.upVote' > -->
       <div class="quoteHi" >{{quote.aQuote}}

       <div class="quoteAuthor"  >  ~{{quote.author}} </div>
       <button (click)='toggleDetails(i)' class="btn btn-primary" >Toggle Details</button>
       </div>
           <app-quote-details  *ngIf='quote.showDetails' [quote]='quote' (upVote)='upTheVote($event, i)' (downVote)='downTheVote($event, i)' (yesDelete)='deleteGoal($event, i)' ></app-quote-details>
    </div>
</div> 
</div>
</div>


<!-- quoteForm -->

<div class="container-fluid">
    <app-new-quote-form (addQuote)='addNewQuote($event)' ></app-new-quote-form>
</div>

