<div class="container-fluid quoteHi">
    Submitted by:  {{quote.iSubmit}}
    <p> <button (click)='upVoteMe(true)' class="btn btn-primary" type="submit" >⬆️</button>
        UpVote: {{quote.upVote}} 
        <button (click)='downVoteMe(true)'  class="btn btn-danger" type="submit" >⬇️</button>
         DownVote:{{quote.downVote}}</p>
    <p> Posted {{quote.dayOfPosting | date | daysPassed}} days ago</p>
    <button  class="btn btn-danger" (click)='iWantToDelete(true)' >
        Delete
    </button>
</div>
